RewriteEngine On

# Exclude existing files and directories from being rewritten
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Your other rewrite rules go here
RewriteRule ^rooms$ rooms.php [L]
RewriteRule ^room/details/(\d+)$ room_details.php?id=$1 [QSA,L]

# Allow access to PHP files
<FilesMatch "\.php$">
    Order allow,deny
    Allow from all
</FilesMatch>
